.connect-four {
  display: flex;
  flex-direction: column;
  width: calc(100% - 230px);
  height: 100%;
  padding-bottom: 60px;
}

.connect-four-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.board {
  display: flex;
  padding: 30px;
  background-color: rgb(228, 231, 25);
}
